body {
    background-image: url("../img/bg1.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    overflow: none;
    font-size: 18px;
    font-weight: normal;
    overflow-x:hidden ;
}
header {
    height: fit-content;
    color: white;
    font-size: 24px;

}
.navbar-brand{
    margin-right: auto;
}
.navbar{
    margin-left: -2%;
    margin-right: -2%;
}
nav {
    padding: 0% 5% 0% 0%;

}

.navbar-toggler {
    border-color: white !important;
    color: white;

}

.logo {
    font-size: 50px;
    font-family: 'Aladin', cursive;
    letter-spacing: 0.009em;
}

.navbar-nav {
    margin-left: auto;
    font-size: 18px;
    margin-top: -15px;
}

nav a,.social a {
    color: white !important;
    text-decoration: none;

}

 a:hover{
    color: orange !important;
    text-decoration: underline;
 
}

nav li {
    padding: 10px;
}

.intro {
    text-align: center;
    padding-top: 20px;
    font-size: 32px;
    position: relative;
}

.mouse {
    animation: bounce 3s infinite;
}
/* menu section */
.menu {
    background-color: white;
    padding-left: 5%;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
}
h1{
    font-size: 36px;
}
.left{
    margin-left: -4%;
}
#myCarousel{
    padding-left: 4%;
}
.item{
    overflow: hidden;
}
.card {
    width: fit-content;
    margin: 10px;
    padding: 0px;
    text-align: center;
}

.food {
    justify-content: center;
}

/* order section */
#order{
    background-color: rgb(0, 0, 0,0.7);
    color: white;
    margin: 1%;
    padding-left: 2%;
    padding-top: 50px;
    padding-right: 2%;
    overflow: hidden;
}
.btn{
    font-size: 16px;
    color: white;
}
.form-check-label{
    margin-right: 5px;
}
#pizzaOrder{
    margin-left: 3%;
}
select{
    width: 300px;
    height: 35px;
    color: black;
    border-radius: 5px;
}
.display,legend{
    font-size: 24px;
}
.order h1,.orderConfirmation h2{
    text-align: center;
    font-family: 'Aladin', cursive;
}
.check{
    display: flex;
    clear: right;
    font-size: 16px;
}
.pizzaOrder, #checkout,#homeDelivery{
    width: 150px;
    border-radius: 2px;
}
#homeDelivery{
    margin-left: 3%;
}
.checkdelivery{
    margin-left: 5%;
    margin-top: 50px;
}
.checkoutMessage{
    display: none;
}
#checkoutMessage,.address p{
    font-size: 24px;
}
#homeCheckout{
    margin-left: 30%;
    margin-top: 50px;
}
.tableContainer{
       overflow-x: auto;
}
.address{
    display: none;
}
.orderConfirmation{
    display: none;
}
.btn{
    background-color: green;
}

/* contact section */
.email, .time, .location,.social{
    display: flex;
}
.social p,.social a{
    margin-top: 10px;
}
.social{
    justify-content: center;
}
.location,.email{
    padding-left: 3%;
}
footer{
    padding-right: 15% !important;
}