body {
    background-image: url("../img/bg1.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    overflow: none;
    font-size: 18px;
    font-weight: normal;
}

header {
    height: fit-content;
    color: white;
    font-size: 24px;
}

nav {
    padding: 0% 5% 0% 0%;
}

.navbar-toggler {
    border-color: white !important;
    color: white;

}

.logo {
    font-size: 50px;
    font-family: 'Aladin', cursive;
    letter-spacing: 0.009em;
}

.navbar-nav {
    margin-left: auto;
    font-size: 18px;
    /* font-weight: bold; */
    margin-top: -15px;
}

nav a {
    color: white !important;

}

.navbar a:hover {
    color: green !important;
    text-decoration: underline;
}

nav li {
    padding: 10px;
}

.intro {
    text-align: center;
    padding-top: 20px;
    font-size: 32px;
    position: relative;
}

.mouse {
    animation: bounce 3s infinite;
}
/* menu section */
.menu {
    background-color: white;
    padding-left: 5%;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
}
.menu h1{
    font-size: 36px;
}
.left{
    margin-left: -4%;
}
#myCarousel{
    padding-left: 4%;
}
.card {
    width: fit-content;
    margin: 10px;
    padding: 0px;
    text-align: center;
}

.food {
    justify-content: center;
}
/* order section */
#order{
    background-color: rgb(0, 0, 0,0.7);
    color: white;
    margin: 1%;
    padding-left: 5%;
    padding-top: 50px;
    padding-right: 2%;

}
.btn{
    font-size: 16px;
    color: white;
}
.form-check-label{
    margin-right: 5px;
}
#pizzaOrder{
    margin-left: 3%;
}
select{
    width: 200px;
    height: 30px;
}
.order h2{
    text-align: center;
    font-family: 'Aladin', cursive;
}
.check{
    display: flex;
    clear: right;
}
#add, #checkout,#homeDelevery{
    width: 150px;
}
.orderConfirmation{
    display: none;
}
/* footer */
footer{
    text-align: center;
    /* background-color: white; */
}
#map{
    height: 300px;
    width: 95%;
    margin-left: 2%;
}
.btn{
    background-color: green;
}
.social{
    background-color: rgb(0, 0, 0,0.7);
    color: white;
}